// Resize storage to 64KiB
/delete-node/ &storage_partition;

&flash0 {
	partitions {
		storage_partition: partition@10000 {
			label = "storage";
			reg = <0x00010000 0x00010000>;
		};
	};
};

&arduino_spi {
	cs-gpios = <&arduino_header 16 GPIO_ACTIVE_LOW>;

	spi_tpm: tpm@0 {
		compatible = "infineon,tpm";
		reg = <0>;
		label = "tpm";
		spi-max-frequency = <100000000>;
		reset-gpios = <&arduino_header 15 GPIO_ACTIVE_LOW>;
	};
};
